<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/lightbox.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <title>Document</title>
    <script src="./js/lightbox-plus-jquery.min.js"></script>
</head>

<body>

    <nav class="top-nav">
        <div class="container d-flex flex-md-column align-items-end p-2 px-md-4 mb-0">
            <div class="d-flex">
                <div class="social-medias">
                    <a href="">
                        <i class="fab fa-facebook"></i>
                    </a>
                </div>

                <% let isLanguageSwitched = language == 'en' ? 'switched' : '' %>
                <div class="toggle language <%= isLanguageSwitched %>">
                    <a href="/language" class="en"> <span>BG</span></a>
                    <a href="/language" class="bg"> <span>EN</span></a>

                </div>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <i class="fas fa-tree"></i>
                <%- language =='bg' ? 'Хотел Бора' : 'Hotel Bora' %></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav ml-md-auto d-none d-md-flex p-2">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <%- language =='bg' ? 'НАЧАЛО' : 'START' %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/base">
                            <%- language =='bg' ? 'ЗА НАС' : 'ABOUT US' %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gallery">
                            <%- language =='bg' ? 'ГАЛЕРИЯ' : 'GALLERY' %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pricing">
                            <%- language =='bg' ? 'ЦЕНИ' : 'PICING' %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/spa">
                            <%- language =='bg' ? 'СПА И БЕЛНЕОЛОГИЯ' : 'SPA' %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">
                            <%- language =='bg' ? 'КОНТАКТИ' : 'CONTACT' %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/offerts/easter">
                            <%- language =='bg' ? 'ВЕЛИКДЕН' : 'EASTER' %></a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

  