<% include ./_layouts/header %>


<div class="top-title p-4">
    <div class="container-fluid">
        <h1>
            <h2><%- language =='bg' ? 'За нас' : 'About us' %></h2></h1>
    </div>
</div>

<div class="">
    <div class="container-fluid">
        <div class="row">
            <div class="amenities-container col-md-3 col-lg-3 ">
                <div>
                    <h2><%- language =='bg' ? 'Комплексът предлага' : 'The hotel offers' %>а</h2>
                    <div class="amenities-list">
                        <ul>

                            <% amenities.forEach(function(amenity){ %>
                            <li>
                                <span></span>
                                <%= amenity %>
                            </li>

                            <% }) %>

                        </ul>
                    </div>
                </div>

                <div class="amenities-image">
                    <img src="./images/pic5.jpg" alt="">
                </div>

                <div class="amenities-image">
                    <img src="./images/pic6.jpg" alt="">
                </div>
            </div>
            <div class=" col-md-9 col-lg-9 about-us p-0">
                <section class="p-5 pt-0 m-0">
                    <div class=" offert-text">
                        <div class="title">
                            <h1>
                                <%= title %>
                            </h1>
                            <p>
                                <%= subTitle %>
                            </p>
                        </div>

                        <div class="content">
                            <%- text %>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>

    <% include ./_layouts/footer %>