<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <title>Document</title>
</head>

<body>

    <nav class="top-nav">
        <div class="container d-flex flex-md-column align-items-end p-2 px-md-4 mb-0">
            <div class="d-flex">
                <div class="social-medias">
                    <a href="">
                        <i class="fab fa-facebook"></i>
                    </a>
                </div>
                <div class="toggle ">
                    <span>EN</span>
                    <input type="checkbox">
                    <span>BG</span>
                </div>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <i class="fas fa-tree"></i> Хотел Бора</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav ml-md-auto d-none d-md-flex p-2">
                    <li class="nav-item">
                        <a class="nav-link" href="land-page.html">НАЧАЛО</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="base.html">ЗА НАС</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ГАЛЕРИЯ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pricing.html">ЦЕНИ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">СПА И БАЛНЕОЛОГИЯ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">КОНТАКТИ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ВЕЛИКДЕН</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <% let backgroundImageUrl = '/images/' +  headerBgImg %>
    <div class="banner " style="background-image: linear-gradient(to top, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('<%= backgroundImageUrl %>')">
        <div class="container">
            <div class="heading-text">
                <h1 class="reveal" data-sr="bottom 20px 1000" data-sr-id="1"><%= compTitle %></h1>
                <p class="subheading"><%= compSubTitle %></p>

                <div class="contact">
                    <div class="address">
                        <p>
                            <i class="fas fa-map-marker"></i><%= address %>></p>
                    </div>
                    <div class="phone">
                        <p>
                            <i class="fas fa-phone-square"></i><%= phone %>></p>
                    </div>
                    <div class="email">
                        <p>
                            <i class="fas fa-envelope"></i><%= email %></p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="img-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="./img/3.jpg" alt="" class=".img-fluid ">
                </div>
                <div class="col-md-4">
                    <img src="./img/4.jpg" alt="">
                </div>
                <div class="col-md-4">
                    <img src="./img/sky-pic.jpg" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="about-us">
        <!-- <i class="fab fa-pagelines"></i> -->

        <div class="container">
            <h2 class="title">За нас
            </h2>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="info">
                        <div class="about-us-title">
                            <i class="fa fa-compass"></i>
                            <h3 class="reveal" data-sr="bottom 20px 1000" data-sr-id="2">Парк-хотел "Бора" гр.Павликени</h3>
                            <p>/На 38км. западно от В.Търново/</p>
                        </div>

                        <div>
                            <p>Комплексът е построен до града върху билото на хълм, сред борова гора. Особеното на
                                местонахождението
                                е, че при изкопните работи за хотела е открита огромна каменна колона /височина 8м и
                                диаметър
                                около 1м/. С тази отлична монолитна изработка, преди около 3000 години е маркирано
                                мястото
                                където е построен хотелът.</p>

                            <a href="">Виж повече ...</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>


    <section class="amenities">
        <div class="container">
            <h2 class="title">Комплексът предлага
            </h2>

            <div class="row">
                <div class="col-md-6 col-lg col-sm-12">
                    <ul class="services">
                        <li>
                            <i class="fas fa-check"></i>
                            <p>Балнеоложки услуги</p>
                        </li>
                        <li>
                            <i class="fas fa-check"></i>
                            <p>Хидромасаж с минерална вода</p>
                        </li>
                        <li>
                            <i class="fas fa-check"></i>
                            <p>Тангентор</p>
                        </li>
                        <li>
                            <i class="fas fa-check"></i>
                            <p>Джакузи</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg col-sm-12">
                    <ul class="services">
                        <li>
                            <i class="fas fa-check"></i>
                            <p>Солариум</p>
                        </li>
                        <li>
                            <i class="fas fa-check"></i>
                            <p>Сауна</p>
                        </li>
                        <li>
                            <i class="fas fa-check"></i>
                            <p>Закрит и открит плувен басейн</p>
                        </li>
                        <li>
                            <i class="fas fa-check"></i>
                            <p>Плаж</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="service-images">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="./img/pic9.jpg">
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="./img/pic10.jpg">
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="./img/pic11.jpg">
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="./img/pic8.jpg">
                </div>
            </div>
        </div>
    </section>

    <section class="map">
        <div id="map" style="height: 50vh; width: 100%"></div>
    </section>

    <section class="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <p>Свържете се с нас</p>
                </div>
                <div class="col-6">
                    <a href="">контакти</a>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <h4>Нашият адрес</h4>
                    <p>гр. Павликени, ул "Гоце Делчев" 7</p>

                    <div class="number">
                        <h4>Телефонче</h4>
                        <p>тел./факс:0610/55 535</p>
                        <p>GSM:0889 281 600</p>
                    </div>
                    <h4>Email</h4>
                    <p>
                        <a href="mailto:info@example.com">info@example.com</a>
                    </p>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <h4>Карта на сайта</h4>

                    <ul>
                        <li class="underline-footer">
                            <a href="">Начало</a>
                        </li>
                        <li class="underline-footer">
                            <a href="">За нас</a>
                        </li>
                        <li class="underline-footer">
                            <a href="">Контакти</a>
                        </li>
                        <li class="underline-footer">
                            <a href="">Галерия</a>
                        </li>
                        <li class="underline-footer">
                            <a href="">Спа и балнеология</a>
                        </li>

                    </ul>
                </div>
                <div class="col-md-4 col-lg-4">
                    <h4>Възки</h4>

                    <ul>
                        <li>
                            <a href="" class="icon-footer"> <i class="fab fa-facebook"></i></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </footer>


</body>

<script  src="/lib/jquery.js"></script>
<script src="./lib/scrollreveal.js" type="text/javascript"></script>
<script src="/bootstrap/js/bootstrap.min.js" ></script>
<script  src="./js/script.js" ></script>


<script>

$(document).ready(function () {
    
        
    window.sr = ScrollReveal();
    
    $.each($('.reveal'), function(k, element) {
        var params = $(element).attr('data-sr').split(' ');
        sr.reveal(element, {
            origin: params[0],
            distance: params[1],
            duration: params[2],
            scale: 1
        });
    });

});
    
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYOHcAsnPec4zWNYnFFH5hKsUIag0lkAw&callback=initMap"
    type="text/javascript"></script>
<link rel="stylesheet" href="http://www.e-act.info/css/animate.css">
<script>
    function initMap() {
        var uluru = { lat: 43.238733, lng: 25.306592 };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>



</html>