<% include ./_layouts/header %>

<% let backgroundImageUrl = '/images/' +  headerBgImg %>
<div class="banner " style="background-image: linear-gradient(to top, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('<%= backgroundImageUrl %>')">
    <div class="container">
        <div class="heading-text">
            <h1 class="reveal" data-sr="bottom 20px 1000" data-sr-id="1">
                <%= compTitle %>
            </h1>
            <p class="subheading">
                <%= compSubTitle %>
            </p>

            <div class="contact">
                <div class="address">
                    <p>
                        <i class="fas fa-map-marker"></i>
                        <%= address %>></p>
                </div>
                <div class="phone">
                    <p>
                        <i class="fas fa-phone-square"></i>
                        <%= phone %>></p>
                </div>
                <div class="email">
                    <p>
                        <i class="fas fa-envelope"></i>
                        <%= email %>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>

<section class="img-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="./images/3.jpg" alt="" class=".img-fluid ">
            </div>
            <div class="col-md-4">
                <img src="./images/4.jpg" alt="">
            </div>
            <div class="col-md-4">
                <img src="./images/sky-pic.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<section class="about-us">
    <!-- <i class="fab fa-pagelines"></i> -->

    <div class="container">
        <h2 class="title">За нас
        </h2>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 pt-5 pb-5">
                <div class="info">
                    <div class="about-us-title">
                        <i class="fa fa-compass"></i>
                        <h3 class="reveal" data-sr="bottom 20px 1000" data-sr-id="2">Парк-хотел "Бора" гр.Павликени</h3>
                        <p>/На 38км. западно от В.Търново/</p>
                    </div>

                    <div>
                        <p>Комплексът е построен до града върху билото на хълм, сред борова гора. Особеното на
                            местонахождението
                            е, че при изкопните работи за хотела е открита огромна каменна колона /височина 8м и
                            диаметър
                            около 1м/. С тази отлична монолитна изработка, преди около 3000 години е маркирано
                            мястото
                            където е построен хотелът.</p>

                        <a href="">Виж повече ...</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<section class="amenities">
    <div class="container">
        <h2 class="title">Комплексът предлага
        </h2>

        <div class="row">
            <div class="col-md-6 col-lg col-sm-12">
                <ul class="services">
                    <% for(let i = 0; i< amenities.length; i++) { %>

                    <% if (i % 2 == 0) {%>
                    <li>
                        <i class="fas fa-check"></i>
                        <p>
                            <%= amenities[i] %>
                        </p>
                    </li>
                    <% } %>
                    <% } %>

                </ul>
            </div>
            <div class="col-md-6 col-lg col-sm-12">
                <ul class="services">
                    <% for(let i = 0; i< amenities.length; i++) { %>

                    <% if (i % 2 != 0) {%>
                    <li>
                        <i class="fas fa-check"></i>
                        <p>
                            <%= amenities[i] %>
                        </p>
                    </li>
                    <% } %>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="service-images">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
                <img src="./images/pic9.jpg">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <img src="./images/pic10.jpg">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <img src="./images/pic11.jpg">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <img src="./images/pic8.jpg">
            </div>
        </div>
    </div>
</section>

<section class="map">
    <div id="map" style="height: 50vh; width: 100%"></div>
</section>

<section class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <p>Свържете се с нас</p>
            </div>
            <div class="col-6">
                <a href="">контакти</a>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <h4>Нашият адрес</h4>
                <p>гр. Павликени, ул "Гоце Делчев" 7</p>

                <div class="number">
                    <h4>Телефонче</h4>
                    <p>тел./факс:0610/55 535</p>
                    <p>GSM:0889 281 600</p>
                </div>
                <h4>Email</h4>
                <p>
                    <a href="mailto:info@example.com">info@example.com</a>
                </p>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-4 col-lg-4">
                <h4>Карта на сайта</h4>

                <ul>
                    <li class="underline-footer">
                        <a href="">Начало</a>
                    </li>
                    <li class="underline-footer">
                        <a href="">За нас</a>
                    </li>
                    <li class="underline-footer">
                        <a href="">Контакти</a>
                    </li>
                    <li class="underline-footer">
                        <a href="">Галерия</a>
                    </li>
                    <li class="underline-footer">
                        <a href="">Спа и балнеология</a>
                    </li>

                </ul>
            </div>
            <div class="col-md-4 col-lg-4">
                <h4>Възки</h4>

                <ul>
                    <li>
                        <a href="" class="icon-footer"> <i class="fab fa-facebook"></i></a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    
</footer>


</body>

<script src="/lib/jquery.js"></script>
<script src="./lib/scrollreveal.js" type="text/javascript"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="./js/script.js"></script>


<script>

    $(document).ready(function () {


        window.sr = ScrollReveal();

        $.each($('.reveal'), function (k, element) {
            var params = $(element).attr('data-sr').split(' ');
            sr.reveal(element, {
                origin: params[0],
                distance: params[1],
                duration: params[2],
                scale: 1
            });
        });

    });

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYOHcAsnPec4zWNYnFFH5hKsUIag0lkAw&callback=initMap"
    type="text/javascript"></script>
<link rel="stylesheet" href="http://www.e-act.info/css/animate.css">
<script>
    function initMap() {
        var uluru = { lat: 43.238733, lng: 25.306592 };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>



</html>